.event-change-overlay{
  
  ul {
    padding-left: 0;
  }
  li {
    display: flex;
    flex: 1;
    padding-bottom: 10px;

    list-style: none;
    span {
      color: var(--color-primary);
      min-width: 180px;
      padding-right: 10px;
    }
    strong {
      font-weight: normal;
      color: var(--color-light-grey);
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background-color: var(--color-light-grey);
        margin-right: 5px;
        display: inline-flex;
        border-radius: 50%;
        vertical-align: middle;

      }
    }
  }
}

.shareholding-inner-data {
  border-radius: 10px;
  border: var(--border-1px);
  padding: 15px;
  span {
    margin-right: 50px;
    font-weight: 500;
    font-family: var(--font-family-neue);
    color: var(--color-primary);
    &:first-of-type {
      color: var(--color-grey);
    }
  }
}